branch: main
files:
  OFL.txt: OFL.txt
  fonts/ttf/LunarBlob-Regular.ttf: LunarBlob-Regular.ttf
  documentation/DESCRIPTION.en_us.html: DESCRIPTION.en_us.html
  documentation/article/ARTICLE.en_us.html: article/ARTICLE.en_us.html
  documentation/lunar-blob-specimen.png: article/lunar-blob-specimen.png
repository_url: https://github.com/mixfont/lunar-blob
